<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
</head>
<body>
    <form method="post" acrion="/">
        <label for="L"> Name </label>
        <input id="L" type="text" name="name" required/>
        <label for="L1"> Country </label>
        <input id="L1" type="text" name="country" required/>

        <button type="submit">Submit</button>
    </form>
</body>
</html>